.transactionHistory {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 600px;
  border: 5px solid orange;

  border-collapse: collapse;
  font-size: 15px;
  background-color: #fff;
}

.transactionTitle {
  padding-bottom: 20px;
  font-size: 25px;
  color: orange;
}
