p {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

.profile {
  padding-top: 30px;
  margin: 0;

  width: 500px;
}

.description {
  margin: 0 80px;
  padding: 50px;
  display: block;
  background-color: lightgray;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.name {
  color: rgb(221, 106, 11);
  font-size: 30px;
  text-align: center;
}

.tag {
  color: rgb(221, 106, 11);
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}

.location {
  color: rgb(221, 106, 11);
  font-size: 20px;
  text-align: center;
}

.stats {
  list-style: none;
  padding: 20px;
  background-color: rgb(70, 70, 63);
  display: flex;
  margin: 0px 80px 0px;
  justify-content: space-around;
  color: rgb(221, 106, 11);
}

.items {
  border-color: rgb(168, 211, 13);
  text-align: center;
}

.label {
  display: block;
}

.quantity {
  display: block;
  font-weight: 900;
}
